In [2]:
import pandas as pd
import numpy as np
import time

In [6]:
CITY_DATA = { 'chicago': 'chicago.csv',
              'new york city': 'new_york_city.csv',
              'washington': 'washington.csv' }

In [8]:
type 'str'>
city=raw_input("Enter the city you are interested in")
type(city)

SyntaxError: invalid syntax (<ipython-input-8-447716c0af13>, line 1)

In [4]:
df=pd.read_csv(CITY_DATA[city])
df.head()

NameError: name 'city' is not defined

In [2]:
#find first and last position of elements in sorted array
nums=[5,7,7,8,8,10]
target=8
x=[]
for i in range(len(nums)):
    if nums[i]==target:
          x.append(i)
print(x[0],x[-1])

3 4

In [3]:
x=[4,3,8,2,9,1]
x.sort()
x

[1, 2, 3, 4, 8, 9]

In [13]:
#Your job is to create a function, that takes 3 numbers: a, b, c and returns True if the last digit of (the last digit of a * the last digit of b) = the last digit of c. Check examples for explanation.
def func(a,b,c):
    if ((a%10)*(b%10))%10==c%10:
        print('True')
    else:
        print('False')
def main():
    c=func(23,13,129)
    print(c)

In [15]:
#Create a function that takes in a list of intervals and returns how many intervals overlap with a given point.
x=[[1, 2], [2, 3], [1, 3], [4, 5], [0, 1]]
point=2
count=0
for i in x:
    if min(i)<=point and max(i)>=point:
        count+=1
print(count)

3

In [21]:
#Suppose you have a guest list of students and the country they are from, stored as key-value pairs in a dictionary.
GUEST_LIST = {
"Randy": "Germany",
"Karla": "France",
"Wendy": "Japan",
"Norman": "England",
"Sam": "Argentina"
}
name=input("Enter name:")
for key,values in GUEST_LIST:
    if name==key:
        print("Hi! I'm {}, and I'm from {}".format(key,GUEST_LIST.value()))
    else:
        print("Hi! I'm a guest")

Enter name:Norman
Hi! I'm a guest

In [46]:
#Write a function that splits a string into substrings of size n, adding a specified delimiter between each of the pieces.
x="bellow"
n=2
y="&"
l=' '
for i in range(0,len(x)):
    l.join(x[i:i+2]+y)
           print(l)

In [48]:
#Convert dictionary to list of tuples
k={ 'Geeks': 10, 'for': 12, 'Geek': 31 }
print(list(k.items()))

[('Geeks', 10), ('for', 12), ('Geek', 31)]

In [67]:
#Convert list of numerical string to list of Integers
test_list = [['24'], ['45'], ['78'], ['40']]
x=[]
y=[]
for i in test_list:
    for j in i:
        l=int(j)//10
        p=int(j)%10
        y=[l,p]
        x.append(y)
x

[[2, 4], [4, 5], [7, 8], [4, 0]]

In [5]:
x=[-9, -2, 0, 2, 3]
y=[]
for i in x:
    y.append(i**2)
y.sort()
print(y)

[0, 4, 4, 9, 81]

In [16]:
v="hello/world/here"
x=v.split('/')
x[::-1]

['here', 'world', 'hello']

In [6]:
from collections import defaultdict
lst=[2, 4, 6, 8, 10, 2, 6, 10]
d=defaultdict(int)
for num in lst:
    d[num]+=1
for num,count in d.items():
    if count==1:
        print(d)

defaultdict(<class 'int'>, {2: 2, 4: 1, 6: 2, 8: 1, 10: 2})
defaultdict(<class 'int'>, {2: 2, 4: 1, 6: 2, 8: 1, 10: 2})

In [3]:
a=[9,7,8,6,5,4]
k=2
count=1
for i in range((len(a)-k),len(a)):
    count*=a[i]
print(count)

20

In [6]:
s='the day is sunny the the the sunny is is'
w=s.strip().split(' ')
str1=[]
for i in w:
    if i not in str1:
        str1.append(i)
for i in range(len(str1)):

['the', 'day', 'is', 'sunny', 'the', 'the', 'the', 'sunny', 'is', 'is']