In [5]:
for i in range(51):
    if (i%3==0) & (i%5==0):
        print('BuzzFizz')
    elif i%3==0:
        print('Fizz')
    elif i%5==0:
        print('Buzz')
    else:
        print(i)

BuzzFizz
1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
BuzzFizz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
BuzzFizz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
BuzzFizz
46
47
Fizz
49
Buzz

In [20]:
x=([10,20,25,30,45,2,5,6,7,27])
y=([])
for j in range(len(x)):
    y.append(x[j]-x[j-1])
print(max(y))

20

In [9]:
sen="I am an Idiot"
p=str.split(sen)

4

In [12]:
i=1
while i<len(p):
    if len(p[i])<len(p[i-1]):
        s=p[i-1]
    else:
        s=p[i]
    i=i+1
print(s)

Idiot

In [17]:
w="Most"
L=len(w)
if L%2==0:
    print(w[L//2-1]+w[L//2])
else:
    print(w[L//2])

os

In [15]:
5//2

2

In [11]:
v=['a','e','i','o','u']
w="aeigjg"
s=list(w)
count=0
for i in range(len(s)):
    for j in range(len(v)):
        if s[i]==v[j]:
            count=count+1
count

3

In [24]:
#counting duplicates
x="wsaaa"
s=list(x)
y=set(s)
print(len(x)-len(y))

2

In [13]:
y

{'1', '2', '3', 'b', 'e', 'g', 'q', 's', 'w'}

In [17]:
s

['w', 's', 'e', 'q', 'w', 'e', '1', '2', '3', 'w', 's', 'g', 'b', 'g']

In [15]:
len(x)-len(y)

5

In [35]:
b=9119
w=list(str(b))
for word in w:
    print(int(word)**2,end='')

811181

In [39]:
 print(i in range(1,5))

False

In [38]:
#checking for palindrome:
x='ardra'
y=list(x)
for i in range(0,len(x/2)-1):
    for j in range(len(x/2+1),len(x)-1):

['a', 'r', 'd', 'r', 'a']

In [115]:
L1=[1,2,4,6,5,7,10]
L2=[]
for i in range(len(L1)):
    if 20%L1[i]==0:
        x=20//L1[i]
        if x in L1:
            print(L1[i],x)
    else:
        continue

2 10
4 5
5 4
10 2

6
7
5
3
2

In [184]:
C1=[2,3,9,7,6]
for i in range(len(C1)-1,0,-1):
    if C1[i]==9 & C1[i-1]!=9:
        C1[i]=0
        C1[i-1]=C1[i-1]+1
        print(C1)
    else:
        print("Jazz")

Jazz
Jazz
Jazz
Jazz

In [1]:
import math
math.exp(3)

20.085536923187668

In [11]:
s="bbcba"
n=[]
k=2
for i in range(0,len(s)):
    for j in range(i,k+i-1):
        if s[i]==s[j]:
            print(n.append(str(s[i:j+1])))
        else:
            print(n.append(str(s[i:j])))

None
None
None
None
None

In [25]:
#Given an array of integers, find the first missing positive integer in linear time and constant space. In other words, find the lowest positive integer that does not exist in the array. The array can contain duplicates and negative numbers as well.
#For example, the input [3, 4, -1, 1] should give 2. The input [1, 2, 0] should give 3.
PP=[1,2,0]
PP_set=set(PP)
i=1
while i in PP_set:
    i+=1
print(i)

3

In [25]:
results=set()
WORD=['start','deer','stop','apple']
for words in WORD:
    if words.startswith('s'):
        results.add(words)
print(results)

{'start', 'stop'}

In [16]:
#fibonacci series
n1=0
n2=1
count=1
n=10
if(n==1):
    print("fibonnaci series:",n1)
elif(n==2):
    print("fibonnaci series:",n2)
else:
    print("fibonnaci series:\n",n1,",")
    while count<10:
            nth=n1+n2
            count+=1
            n1=n2
            n2=nth
            print(nth,end=",")

fibonnaci series:
 0 ,
1,2,3,5,8,13,21,34,55,

In [17]:
#flattening a list
list_of_lists = [range(4), range(7)]
flattened_list = []

for x in list_of_lists:
    for y in x:
        flattened_list.append(y)

In [2]:
#Given a singly linked list and an integer k, remove the kth last element from the list. k is guaranteed to be smaller than the length of the list.
n=[1,56,8,9,10,11,45,67,87,99]
k=5
n.pop(-k)
n

[1, 56, 8, 9, 10, 45, 67, 87, 99]

In [1]:
'this' in 'this is a string'

True

In [3]:
size=[5,15,4,34,23,21,1]
size.sort()
size

[1, 4, 5, 15, 21, 23, 34]

In [13]:
#sort and join
list=['Raj','Anish','Carol','Donna']
list.sort()
"&".join(list)

'Anish&Carol&Donna&Raj'

In [16]:
#append
list.append("Albert")
list

['Anish', 'Carol', 'Donna', 'Raj', 'Anisha', 'Albert', 'Albert']

In [17]:
#remove
list.remove("Albert")
list

['Anish', 'Carol', 'Donna', 'Raj', 'Anisha', 'Albert']

In [18]:
list.pop()

'Albert'

In [19]:
list

['Anish', 'Carol', 'Donna', 'Raj', 'Anisha']

In [22]:
del list[0]
list

['Carol', 'Donna', 'Raj', 'Anisha']

In [25]:
list.reverse()
list

['Anisha', 'Raj', 'Donna', 'Carol']

In [27]:
list.insert(1,"bob")
list

['Anisha', 'bob', 'bob', 'Raj', 'Donna', 'Carol']

In [28]:
list.remove("bob")

In [29]:
list

['Anisha', 'bob', 'Raj', 'Donna', 'Carol']

In [30]:
fruit={"apple","banana","orange","grapefruit"}
fruit.add("watermelon")

In [31]:
fruit

{'apple', 'banana', 'grapefruit', 'orange', 'watermelon'}

In [32]:
fruit.pop()

'banana'

In [33]:
fruit

{'apple', 'grapefruit', 'orange', 'watermelon'}

In [ ]:
a=set()

In [7]:
#operating on set
x={'foo','bar','baz'}
y={'foo','qux','ceas'}
x.difference(y)

{'bar', 'baz'}

In [9]:
x-y

{'bar', 'baz'}

In [10]:
x.union(y)#/x|y

{'bar', 'baz', 'ceas', 'foo', 'qux'}

In [ ]:
x.intersection(y)#/x&y

In [15]:
x.add('crax')
x

{'bar', 'baz', 'ceas', 'crax', 'qux'}

In [16]:
x.remove('qux')#/x.discard('qux')
x

{'bar', 'baz', 'ceas', 'crax'}

In [17]:
x.pop()
x

{'bar', 'baz', 'ceas'}

In [18]:
x.clear()
x

set()

In [ ]:
#frozen sets are sets that are immutable and cannot be modified

In [ ]:
elements={"hydrogen":1,"helium":2,"carbon":3,"lithium":4}

In [19]:
verse="if you can keep your head"
N=verse.split()
N

['if', 'you', 'can', 'keep', 'your', 'head']

In [41]:
Name=["Joey Tribbani","Monica Geller","Chandler Bing"]
Name1=[]
for N in Name:
    Name1.append(N.lower().replace(" ","_"))
Name1

['joey_tribbani', 'monica_geller', 'chandler_bing']

In [50]:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
for y in thisdict.keys():
    print(y)
for x in thisdict.values():
    print(x)
for f1,f2 in thisdict.items():
    print(f1,f2)

brand
model
year
Ford
Mustang
1964
brand Ford
model Mustang
year 1964

In [52]:
x=lambda a,b:a+b
print(x(5,6))

11

In [1]:
l=34
(34%10)*10+34//10

43

In [18]:
k='hgyug and ihuhu and fftfyuf and yfygjh and yfuyugukn and nkjbkjbjk'
s=k.count('and')
s

5

In [27]:
q1=[1,3,15,11,2]
q2=[23,127,235,19,8]
q=[]
for i in range(len(q1)):
    for k in range(len(q2)):
        if(q1[i]-q2[k])>0:
            q1[i]-q2[k]
            q.append(q1[i]-q2[k])  
        elif(q2[k]-q1[i])>0:
            q2[k]-q1[i]
            q.append(q2[k]-q1[i])

3 4 4

In [51]:
l=['sun','cat','walk','catwalk','sunshine','dog','king']
k=[]
for i in range(len(l)):
    for j in range(len(l)-1,0,-1):
        if l[i]+l[j] in l:
            print(l[i]+l[j])

catwalk

In [6]:
l1=['Alpha','Beta','Gamma','Sigma']
l2=['One','Two','Three','Six']
l3=[5,6,4,1]
test=zip(l1,l2,l3)
print(tuple(test))

(('Alpha', 'One', 5), ('Beta', 'Two', 6), ('Gamma', 'Three', 4), ('Sigma', 'Six', 1))

In [10]:
x=-8.97
abs(x)

8.97

In [13]:
#pass
s=[9,7,8,5]
for i in s:
    pass
    print(i)

9
7
8
5

In [14]:
#iteration
w=iter(s)
next(w)

9

In [15]:
next(w)

7

In [19]:
n=5
yield n

SyntaxError: 'yield' outside function (<ipython-input-19-e5279fd69606>, line 2)

In [66]:
x=[2,2,1,7,5,3]
print(y)
k=4
for i in range(len(x)):
    for j in range(i,len(x)):
        if(x[i]+x[j])%k==0:
            y=zip(x[i],x[j])
print(y)

[]

TypeError: zip argument #1 must support iteration

In [ ]:
punctuation='''!()-[]{};:'"\,<>./?@#$%^&*_~'''
text='hello!!! how ---u?'
for

In [3]:
c='hello my world'
c.capitalize()

'Hello my world'

In [9]:
c.center(40)

'             hello my world             '

In [24]:
s='HELLO WORLD HELLO'

In [11]:
s.casefold()

'hello world hello'

In [12]:
s.count("HELLO")

2

In [13]:
s.encode()

b'HELLO WORLD HELLO'

In [14]:
s.endswith("O")

True

In [21]:
txt = "H\te\tl\tl\to"

x =  txt.expandtabs(2)

print(x)

H e l l o

In [26]:
txt="hello welcome to my world"

In [27]:
txt.find("welcome")

6

In [28]:
txt.index("welcome")

6

In [29]:
txt.index("zombie")

ValueError: substring not found

In [30]:
txt.find("zombie")

-1

In [31]:
txt1='company12'
txt1.isalnum()

True

In [33]:
txt2='instrument'
txt2.isalpha()

True

In [34]:
txt3='00932'
txt3.isdigit()

True

In [37]:
#isidentifier-->if it contains on alpha.numric,underscore.valid identifier cannot start with a number, or contain any spaces.
a = "MyFolder"
b = "Demo002"
c = "2bring"
d = "my demo"
e="let_me"
print(a.isidentifier(),b.isidentifier(),c.isidentifier(),d.isidentifier(),e.isidentifier())

True True False False True

In [1]:
txt3=" "
txt3.isspace()

True

In [2]:
txt4="I could eat fruits all day"
txt4.partition("fruits")

('I could eat ', 'fruits', ' all day')

In [3]:
txt4.partition('apple')

('I could eat fruits all day', '', '')

In [4]:
txt5='I like banana'
txt5.replace('banana','apple')

'I like apple'

In [7]:
#last occurrance
txt6="Mi casa, su casa"
txt6.rfind("casa")

12

In [8]:
txt7="banana"
txt7.rjust(20)

'              banana'

In [12]:
txt8='apple,banana,cherry'
txt8.rsplit(",")

['apple', 'banana', 'cherry']

In [14]:
txt9="    banana    "
txt9.strip()

'banana'

In [15]:
txt10="banana,,,,,ssqqqww....."
txt10.rstrip(',sqw.')

'banana'

In [17]:
txt11="Thank you for the music\nWelcome to the jungle"
txt11.splitlines()

['Thank you for the music', 'Welcome to the jungle']

In [18]:
#Split the string, but keep the line breaks:
txt12='Thank you for the music\nWelcome to the jungle'
txt12.splitlines(True)

['Thank you for the music\n', 'Welcome to the jungle']

In [19]:
txt13="Hello, welcome to my world."
txt13.startswith("Hello")

True

In [20]:
txt14="Hello My Name Is PETER"
txt14.swapcase()

'hELLO mY nAME iS peter'

In [21]:
txt15 = "Hello my friends"
txt15.upper()

'HELLO MY FRIENDS'

In [22]:
txt16="15"
txt16.zfill(10)

'0000000015'

In [25]:
x=['apple','orange','cherry']
x.append('banana')
x

['apple', 'orange', 'cherry', 'banana']

In [26]:
x.clear()
x

[]

In [29]:
z=['apple','orange','cherry']
y=z.copy()
y

['apple', 'orange', 'cherry']

In [30]:
points = [1, 4, 2, 9, 7, 8, 9, 3, 1]
points.count(9)

2

In [32]:
fruits = ['apple', 'banana', 'cherry']
points = (1, 4, 5, 9)
fruits.extend(points)
fruits

['apple', 'banana', 'cherry', 1, 4, 5, 9]

In [33]:
fruits.index('banana')

1

In [36]:
fruits.insert(1,'orange')
fruits

['apple', 'orange', 'orange', 'banana', 'cherry', 1, 4, 5, 9]

In [38]:
fruits.remove('orange')
fruits

['apple', 'orange', 'banana', 'cherry', 1, 4, 5, 9]

In [39]:
fruits.reverse()

In [40]:
fruits

[9, 5, 4, 1, 'cherry', 'banana', 'orange', 'apple']

In [42]:
cars = ['Ford', 'BMW', 'Volvo']
cars.sort()
cars

['BMW', 'Ford', 'Volvo']

##dictionary

In [43]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

In [44]:
car.clear()
car

{}

In [45]:
car1 = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

In [47]:
x=car1.copy()
x

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [51]:
x1=('key1','key2','key3')
x2=0
thisdict=dict.fromkeys(x1,x2)
print(thisdict)

{'key1': 0, 'key2': 0, 'key3': 0}

In [53]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
car.get('model')

'Mustang'

In [55]:
car["year"]=2000

In [56]:
car

{'brand': 'Ford', 'model': 'Mustang', 'year': 2000}

In [60]:
type(car)

dict

In [58]:
x=car.items()
x

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 2000)])

In [59]:
type(x)

dict_items

In [61]:
car["color"]='white'
car

{'brand': 'Ford', 'model': 'Mustang', 'year': 2000, 'color': 'white'}

In [62]:
car.pop("model")
car

{'brand': 'Ford', 'year': 2000, 'color': 'white'}

In [63]:
car.popitem()
car

{'brand': 'Ford', 'year': 2000}

In [64]:
car.setdefault("year",2010)
car

{'brand': 'Ford', 'year': 2000}

In [68]:
car.update({'car_type':"hybrid"})
car

{'brand': 'Ford', 'year': 2000, 'car_type': 'hybrid'}

In [69]:
thistuple=(1,2,2,3,4,3,5,6,5,7,6,8,7,9,9,0)
thistuple.count(9)

2

In [70]:
thistuple.index(5)

6

SET

In [72]:
thisset={"apple","banana","cherry"}
thisset.add("orange")
thisset

{'apple', 'banana', 'cherry', 'orange'}

In [73]:
thisset1=thisset.copy()

In [74]:
thisset1

{'apple', 'banana', 'cherry', 'orange'}

In [92]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
z=x.difference(y)
z

{'banana', 'cherry'}

In [89]:
z2=x.symmetric_difference(y)
z2

{'banana', 'cherry', 'google', 'microsoft'}

In [95]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
z3=x.symmetric_difference_update(y)
z3

In [78]:
x.difference_update(y)
x

{'banana', 'cherry'}

In [79]:
fruits = {"apple", "banana", "cherry"}
fruits.discard("apple")
fruits

{'banana', 'cherry'}

In [80]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
z1=x.intersection(y)
z1

{'apple'}

In [82]:
x = {"a", "b", "c"}
y = {"c", "d", "e"}
z = {"f", "g", "c"}
x.intersection(y,z)

{'c'}

In [83]:
x = {"a", "b", "c"}
y = {"f", "e", "d", "c", "b", "a"}
x.issubset(y)

True

In [98]:
x.update(y)
x

{'apple', 'google', 'microsoft'}

In [85]:
y.issuperset(x)

True

In [86]:
fruits = {"apple", "banana", "cherry"}
fruits.pop()

'cherry'

In [96]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
x.intersection(y)

{'apple'}

In [97]:
x.intersection_update(y)
x

{'apple'}

In [99]:
k=divmod(5,2)

In [100]:
k

(2, 1)

In [101]:
complex(3,5)

(3+5j)

In [102]:
r=2
pow(r,r)

4

In [109]:
x=["apple","banana"]
y=["apple","banana"]
z=x
x is y

False

In [104]:
x==y

True

In [110]:
x is z

True

In [111]:
z is x

True

In [112]:
x=lambda a,b:a+b
print(x(2,3))

5

In [117]:
import datetime
x=datetime.datetime(2015,8,15)
x.strftime('%B')

'August'

In [118]:
datetime.datetime.now()

datetime.datetime(2019, 6, 23, 18, 56, 15, 571417)

In [121]:
#frozenset doesn't let assignment of values
x = ("a", "b", "c", "d", "e", "f", "g", "h")
a=slice(2)
x[a]

('a', 'b')

In [123]:
y=list(x)
y[a]

['a', 'b']

In [133]:
import re
#str='rain in spain'
s='rain in spain'
x=re.split(" ",str)
print(x)
#str
#s

['rain', 'in', 'spain']

In [137]:
str = "The rain in Spain"
y=re.search(" ",str)
y.start()

3

In [138]:
re.search("ai",str)

In [145]:
s= "It will rain in spain"
x=re.sub("\s","9",s)
x

'It9will9rain9in9spain'

In [146]:
l={}
type(l)

dict

In [147]:
l={40:"John",42:"Lim"}
type(l)

dict

In [148]:
lk="    python"
lk.lstrip()

'python'

In [150]:
lm="Hey john, how are you john"
lm.replace("john","John",1)

'Hey John, how are you john'

In [153]:
s=['a','b','a','c','d']
del s[1:3]
s

['a', 'c', 'd']

In [155]:
q=['a','b','a','c','d']
q.remove('a')
q

['b', 'a', 'c', 'd']

In [156]:
p=iter(q)
next(p)

'b'

In [157]:
next(p)

'a'

In [159]:
q.append('e')
q

['b', 'a', 'c', 'd', 'e']

In [163]:
q.extend([1,2,3,4])
q

['b', 'a', 'c', 'd', 'e', [1, 2, 3, 4], 1, 2, 3, 4]

In [164]:
#docstring
def sum(a,b):
    """returns sum of a and b"""
    return a+b

sum(2,5)

7

In [167]:
var="Red,Blue,Violet,Green,Maroon,Orange"
lst=var.split(",",2)
lst

['Red', 'Blue', 'Violet,Green,Maroon,Orange']

In [168]:
def fun(*var):
    for i in var:
        print(i)
fun(1,25,4)

1
25
4

In [191]:
def func(*args):
    for i in args:
        print(i)
s=['orange','apple','watermelon','grapes','blackberry']
func(*s)

orange
apple
watermelon
grapes
blackberry

In [190]:
def func1(**kwargs):
    for keys,values in kwargs.items():
        print(keys)
#func1(first=1,Second=2,third=3)
s={'first':0,'mid':8,'last':3}
func1(**s)

first
mid
last

In [14]:
import math
math.exp(3)
math.log10(6)

0.7781512503836436

In [15]:
x=3+5j
type(x)

complex

In [16]:
a="   hello  world  "
a.strip()

'hello  world'

In [17]:
a.upper()

'   HELLO  WORLD  '

In [21]:
a.replace('h','k')

'   kello  world  '

In [22]:
a.split(' ')

['', '', '', 'hello', '', 'world', '', '']

In [24]:
f=['Apple','Cherry','Pears','Orange']
if "Apple" in f:
    print('True')

True

In [26]:
f.append('Lychee')
f

['Apple', 'Cherry', 'Pears', 'Orange', 'Lychee']

In [27]:
f.remove('Lychee')
f

['Apple', 'Cherry', 'Pears', 'Orange']

In [28]:
f.pop()
f

['Apple', 'Cherry', 'Pears']

In [31]:
del f[2]
f

['Apple', 'Cherry']

In [32]:
t=(6,5,4,3)
l=list(t)
l

[6, 5, 4, 3]

In [34]:
thistuple = ("apple", "banana", "cherry")
del thistuple

In [35]:
thistuple

NameError: name 'thistuple' is not defined

In [44]:
st="hello"
st[:2]+st[3:]

'helo'

In [40]:
thisset = {1,2,3}

x = thisset.pop()

print(x) #removed item

print(thisset) #the set after removal

1
{2, 3}

In [1]:
#Given a name, print the initials of a name(uppercase) with last name(with first alphabet in uppercase) written in full separated by dots.
#Input : mohandas karamchand gandhi
#Output : M.K.Gandhi 
x=input('print name')

print namemohandas karamchand gandhi

In [3]:
l=x.split(" ")
length=len(l)
new=''
for i in range(length-1):
    s=l[i]
    new+=(s[0].upper()+'.')
new+=l[-1].title()
print(new)

M.K.Gandhi

In [4]:
#enumerate
l1=['eat','sleep','repeat']
dict(enumerate(l1))

{0: 'eat', 1: 'sleep', 2: 'repeat'}

In [15]:
#map
def myfunc(a, b):
    return a + b

x = map(myfunc, ('apple', 'banana', 'cherry'), ('orange', 'lemon', 'pineapple'))
print(list(x))

['appleorange', 'bananalemon', 'cherrypineapple']

In [20]:
#map
def sumof2(a,b):
    return a+b
x=map(sumof2,(2,3,4,5),(32,43,54,65))
print(list(x))

[34, 46, 58, 70]

In [19]:
y1=('apple','banana','watermelon')
y2=('red','yellow','green')
y1+y2

('apple', 'banana', 'watermelon', 'red', 'yellow', 'green')

In [25]:
#reduce
from functools import reduce
s=reduce((lambda x,y:x+y),[1,2,3,4,5])
print(s)

15

In [34]:
# #filter
# def func(f):
#     for i in f:
#         if i>50:
#             return True
#         else:
#             pass
r=list(filter(lambda x:x>50,[43,56,76,89,90,97,12,32,23,56,90,89,78,69]))
r

[56, 76, 89, 90, 97, 56, 90, 89, 78, 69]

In [30]:
f=[43,56,76,89,90,97,12,32,23,56,90,89,78,69]
len(f)

14

In [22]:
#There are two sorted arrays nums1 and nums2 of size m and n respectively.Find median.​
x=[7,5,6,8,0,4]
y=[1,0,2,3,4,9]
x.extend(y)
x.sort()
print(x)
if len(x)%2==1:
    print(x[len(x)//2])
else:
    print(x[len(x)//2]+x[len(x)//2+1]/2)

[0, 0, 1, 2, 3, 4, 4, 5, 6, 7, 8, 9]
6.5

In [ ]:
#find first and last position of elements in sorted array
nums=[5,7,7,8,8,10]
target=8
x=[]
for i in range(len(nums)):
    if nums[i]==target:
          x.append(i)
print(x)

In [53]:
#Count array elements that divide the sum of all other elements
s=[3,10,4,6,7]
s_sum=0
count=0
for i in range(len(s)):
    for j in range(len(s)):
        if s[i]==s[j]:
            continue
        else:
            s_sum+=s[j]
    if s_sum%s[i]==0:
        count=count+1
print(count)

1

In [42]:
A=[2, 2, 1, 7, 5, 3]
k=4
for i in range(len(A)):
    for j in range(i,len(A)):
        if (A[i]+A[j])%k==0:
            print(A[i],A[j])

2 2
2 2
2 2
1 7
1 3
7 5
5 3

In [52]:
Z=[0,7,6,10,55,4]
L=[]
x=5
k=3
c=0
for i in range(len(Z)):
    y=abs(Z[i]-x)
    L.append(y)
    L.sort()
L=L[:k]
print(L)
for i in range(len(Z)):
    if abs(Z[i]-x) in L:
        print(Z[i])

[1, 1, 2]
7
6
4

In [9]:
#delete duplicate numbers in a sorted list
a=[2,4,3,2,1,2,5,6,1]
b=[]
a.sort()
a

[1, 1, 2, 2, 2, 3, 4, 5, 6]

In [10]:
#Maximum absolute difference in an array
arr=[4,3,5,8,9]
minimum=arr[0]
maximum=arr[1]
for i in arr:
    minimum=min(minimum,i)
    maximum=max(maximum,i)
print(abs(maximum-minimum))

6

In [1]:
ss='aabcddddghu'
ans,temp=1,1
for i in range(1,len(ss)):
    if ss[i]==ss[i-1]:
        temp+=1
    else:
        ans=max(ans,temp)
        temp=1
print(ans)

4

In [11]:
#Given an unsorted array of integers, find the length of the longest consecutive elements sequence.
x=[100, 201, 200, 1, 3, 202]
x.sort()
x

[1, 3, 100, 200, 201, 202]

In [12]:
count=0
for i in range(1,len(x)):
    if(x[i]-1==x[i-1]):
        count+=1
print(count+1)

3

In [2]:
str1="apple mango apple orange orange apple guava mango mango"
w1=str1.strip().split(' ')
w2=set(w1)
for word in w2:
    print(word,":",w1.count(word))

apple : 3
mango : 3
orange : 2
guava : 1

In [8]:
str1 = "Geeks for Geeks"
for i in range(len(str1)):
    if i==0:
        print(str1[i],end="") 
    elif i==len(str1)-1:
        print(str1[i],end="")
    if str1[i]==" ":
        print(str1[i-1],str1[i+1],end="")

Gs fr Gs

In [7]:
len(str1)

15